<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" internalLogLevel="Info" internalLogFile="nlog-internal.log">
    <targets async="true">
      <target xsi:type="File" name="AppLog" fileName="${basedir}/logs/AppLog.txt"
              header="[Start Logging]" footer="[End Logging]${newline}"
              encoding="UTF-8" archiveFileName="${basedir}/logs/AppLog.{#}.zip" archiveEvery="Day" archiveNumbering="Rolling"
              maxArchiveFiles="7" enableArchiveFileCompression="true"
              layout="${longdate} [${processid}:${threadid}][${uppercase:${level}}] ${callsite}()#${callsite-linenumber} - ${message} ${exception:format=tostring}" />
      <target xsi:type="File" name="DebugLog" fileName="${basedir}/logs/DebugLog.txt"
              header="[Start Logging]" footer="[End Logging]${newline}"
              encoding="UTF-8" archiveFileName="${basedir}/logs/DebugLog.{#}.zip" archiveEvery="Day" archiveNumbering="Rolling"
              maxArchiveFiles="7" enableArchiveFileCompression="true"
              layout="${longdate} [${processid}:${threadid}][${uppercase:${level}}] ${callsite}()#${callsite-linenumber} - ${message} ${exception:format=tostring}" />
    </targets>
    <include file="${basedir}/conf/NLog.Rules.Config" ignoreErrors="true" />
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.HashFunction.Interfaces" publicKeyToken="80c9288e394c1322" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>